<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <title>Dashboard</title>
  <meta name="description" content="">
  <meta name="keywords" content="">
  <link rel="stylesheet" type="text/css" href="../dist/css/lfui.css">
  <link rel="stylesheet" type="text/css" href="../src/css/example-build.css">
  <link rel="stylesheet" type="text/css" href="./layout-build.css">
  <script src="../dist/js/libs/jquery/jquery.js"></script>
  <script src="../dist/js/libs/tether/tether.js"></script>
  <script src="../dist/js/libs/moment/moment-with-locales.js"></script>
  <script src="../dist/js/libs/ueditor/ueditor.config.js"></script>
  <script src="../dist/js/libs/ueditor/ueditor.all.js"></script>
  <script src="../dist/js/libs/bootstrap/bootstrap.min.js"></script>
  <script src="../dist/js/libs/bootstrap/bootstrap-datetimepicker.js"></script>
  <script src="../dist/js/libs/validator/jquery.validator.js?local=zh-CN"></script>
</head>
</head>
<body>
  <loading type="grid" v-show="loading"></loading>
  <div id="container">
    <header id="navbar">
      <div class="row navbar-inner">
        <div class="col-xs-6 brand-block">
          <h4><a href="#"><img src="http://gonghui.tukeji.com/static/admin/images/logo.png"></a> · 管理后台</h4>
          <a href="javascript:;" class="cd_nav_trigger"><span></span></a>
        </div>
        <div class="col-xs-6 text-right user-block">
          你好，admin！
          <a href="/lfcms/profile/edit.html" class="item">修改资料</a>
          <a href="/lfcms/index/logout.html" class="confirm item" title="确认要退出吗？">退出</a>
        </div>
      </div>
    </header>
    <div class="row" id="main-container">
      <div class="col-xs-12 col-md-10 push-md-2 content">
        <section>
          <breadcrumb :lists="breadcrumb"></breadcrumb>
        </section>
        <section>
          <h1 class="page-header"></h1>
          <div class="filter-wrapper">
            <filter title="种类">
              <a v-for="item in icons" :href="'item' + $index" class="btn btn-outline-primary category-item" :class="{'active': $index == 5}">{{ item }}</a>
            </filter>
            <filter title="种类">
              <select class="form-control">
                <option v-for="item in icons">{{ item }}</option>
              </select>
            </filter>
            <filter title="操作员">
              <input type="text" class="form-control" id="exampleInputName2" placeholder="Jane Doe">
            </filter>
            <filter title="截止日期" width="8em">
              <div class="input-daterange input-group">
                <input type='text' name="start-date" class="form-control" data-format="YYYY-MM-DD" data-picker="datetimepicker" />
                <div class="input-group-addon">至</div>
                <input type='text' name="end-date" class="form-control" data-format="YYYY-MM-DD" data-picker="datetimepicker" />
              </div>
            </filter>
            <filter title="检索">
              <div class="input-group search-form">
                <input type='text' class="form-control" />
                <span class="input-group-btn">
                  <button class="btn btn-secondary" type="button"><i class="material-icons md-18">search</i></button>
                </span>
              </div>
            </filter>
          </div>
        </section>
        <section>
          <h1 class="page-header"></h1>
          <lf-table :page="page" :data="contents" :titles="titles" @current-change="getData" responsive></lf-table>
        </section>
      </div>
      <div class="col-xs-12 col-md-2 pull-md-10 sidebar">
        <div class="menu">
          <div role="tablist">
            <div class="panel panel-default">
              <div class="panel-heading" role="tab">
                <div>
                  <a href="#"><i class="material-icons md-18">face</i> 待审核</a>
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingOne">
                <div class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne"><i class="material-icons md-18">face</i> 微工会</a>
                </div>
              </div>
              <ul id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                <li><a class="active" href="#">工会官网</a></li>
                <li><a href="#">政策法规</a></li>
                <li><a href="#">工会动态</a></li>
                <li><a href="#">工会矩阵</a></li>
              </ul>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingTwo">
                <div class="panel-title">
                  <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo"><i class="material-icons md-18">face</i> 职工权益</a>
                </div>
              </div>
              <ul id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                <li><a href="#">春资讯</a></li>
                <li><a href="#">夏资讯</a></li>
                <li><a href="#">秋资讯</a></li>
                <li><a href="#">冬资讯</a></li>
                <li><a href="#">工会主席信箱</a></li>
              </ul>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading" role="tab">
                <div>
                  <a href="#"><i class="material-icons md-18">face</i> 微活动</a>
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingThree">
                <div class="panel-title">
                  <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree"><i class="material-icons md-18">face</i> 积分系统</a>
                </div>
              </div>
              <ul id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                <li><a href="#">商品列表</a></li>
                <li><a href="#">兑换订单</a></li>
                <li><a href="#">积分规则</a></li>
                <li><a href="#">签到记录</a></li>
              </ul>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading" role="tab">
                <div>
                  <a href="#"><i class="material-icons md-18">face</i> 用户列表</a>
                </div>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingFour">
                <div class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="true" aria-controls="collapseFour"><i class="material-icons md-18">face</i> 管理员</a>
                </div>
              </div>
              <ul id="collapseFour" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingFour">
                <li><a href="#">账号管理</a></li>
                <li><a href="#">角色管理</a></li>
                <li><a href="#">后台操作日志</a></li>
              </ul>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingFive">
                <div class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="true" aria-controls="collapseFive"><i class="material-icons md-18">face</i> 系统设置</a>
                </div>
              </div>
              <ul id="collapseFive" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingFive">
                <li><a href="#">系统参数配置</a></li>
                <li><a href="#">节点管理</a></li>
                <li><a href="#">分类管理</a></li>
                <li><a href="#">模型管理</a></li>
                <li><a href="#">重新编译</a></li>
                <li><a href="#">清除缓存</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <dialog :id="modal.id" :title="modal.title" :desc="modal.desc" :foot="modal.foot" :type="modal.type" @confirm-event="modal.event"></dialog>
  <script type="text/javascript" src="../dist/js/lfui.js"></script>
  <script type="text/javascript">
  /* global vm */
    var data = {
      loading: true,
      modal: {
        id: '',
        title: '',
        desc: '',
        type: '',
        foot: true,
        event: Function,
      },
      icons: ['account_circle', 'alarm', 'android', 'announcement', 'assessment', 'assignment', 'autorenew', 'bookmark', 'build', 'credit_card', 'date_range', 'done', 'explore', 'favorite', 'face', 'grade', 'group_work', 'home', 'info', 'invert_colors', 'label', 'language', 'lock', 'opacity', 'payment', 'schedule', 'search'],
      breadcrumb: [
        {
          title: 'Home',
          link: '#',
        }, {
          title: '微工会',
          link: '#',
        }, {
          title: '工会官网',
        },
      ],
      contents: [],
      titles: [
        {
          key: 'id',
          name: 'id',
        }, {
          key: 'tab',
          name: '分类',
        }, {
          key: 'title',
          name: '标题',
        }, {
          key: 'reply_count',
          name: '回复数',
        }, {
          key: 'visit_count',
          name: '访问数',
        }
      ],
      page: 1,
    };
    vm.$set('$data', data);
    vm.$http.get('https://cnodejs.org/api/v1/topics?limit=10&page=' + vm.page).then((response) => {
      for (var i = 0; i < response.data.data.length; i++) {
        var temp1 = {};
        temp1.id = response.data.data[i].id;
        temp1.tab = response.data.data[i].tab;
        temp1.title = response.data.data[i].title;
        temp1.reply_count = response.data.data[i].reply_count;
        temp1.visit_count = response.data.data[i].visit_count;
        vm.contents.push(temp1);
      }
      vm.loading = false;
    });
    vm.getData = function (index) {
      vm.loading = true;
      vm.$http.get('https://cnodejs.org/api/v1/topics?limit=10&page=' + index).then((response) => {
        console.log(index);
        var temp2 = [];
        for (var i = 0; i < response.data.data.length; i++) {
          var temp1 = {};
          temp1.id = response.data.data[i].id;
          temp1.tab = response.data.data[i].tab;
          temp1.title = response.data.data[i].title;
          temp1.reply_count = response.data.data[i].reply_count;
          temp1.visit_count = response.data.data[i].visit_count;
          temp2.push(temp1);
        }
        vm.contents = temp2;
        vm.loading = false;
      });
    };
  </script>
</body>
</html>
