<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <title>Dashboard</title>
  <meta name="description" content="">
  <meta name="keywords" content="">
  <link rel="stylesheet" type="text/css" href="../dist/css/lfui.css">
  <link rel="stylesheet" type="text/css" href="../src/css/example-build.css">
  <link rel="stylesheet" type="text/css" href="./layout-build.css">
</head>
<body>
<div id="container">
  <header id="navbar">
    <div class="row navbar-inner">
      <div class="col-xs-6 brand-block">
        <h4><a href="#"><img src="http://gonghui.tukeji.com/static/admin/images/logo.png"></a> · 管理后台</h4>
        <a href="javascript:;" class="cd_nav_trigger"><span></span></a>
      </div>
      <div class="col-xs-6 text-right user-block">
        你好，admin！
        <a href="/lfcms/profile/edit.html" class="item">修改资料</a>
        <a href="/lfcms/index/logout.html" class="confirm item" title="确认要退出吗？">退出</a>
      </div>
    </div>
  </header>
  <div class="row" id="main-container">
    <div class="col-xs-12 col-md-10 push-md-2 content">
      <breadcrumb :lists="breadcrumb"></breadcrumb>
      <tips type="warning" title="警告">
        <i class="material-icons md-48" slot="icon">face</i>
        <p>警告是一种警戒性的纪律制裁方式，也是最轻微的一种制裁方式，是指公务员的行为已经构成了违纪，应当予以及时纠正和警示。</p>
      </tips>
      <tips type="danger">
        <strong>出错了!</strong><a href="#" class="alert-link">请修改</a>并重试。
      </tips>
      <tips type="success">
        <strong>恭喜!</strong> 你已经阅读了 <a href="#" class="alert-link">本条重要的消息。</a>
      </tips>
      <tips type="info">
        <strong>注意!</strong> 此消息 <a href="#" class="alert-link">需要您留意</a>, 但不是那么重要。
      </tips>
      <ul class="nav nav-tabs">
        <li class="nav-item">
          <a class="nav-link active" data-toggle="tab" href="#basic">标签一</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" data-toggle="tab" href="#extend">标签二</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true"
             aria-expanded="false">下拉菜单</a>
          <div class="dropdown-menu">
            <a class="dropdown-item" data-toggle="tab" href="#dropdown1">菜单一</a>
            <a class="dropdown-item" data-toggle="tab" href="#dropdown2">菜单二</a>
          </div>
        </li>
      </ul>
      <div class="tab-content">
        <div class="tab-pane fade active in" id="basic">
          <div class="filter-wrapper">
            <filter title="种类">
              <a href="" class="btn  btn-outline-primary category-item">全部</a>
              <a v-for="item in icons" :href="'item' + $index" class="btn btn-outline-primary category-item"
                 :class="{'active': $index == 5}">{{ item }}</a>
            </filter>
            <filter title="种类">
              <select class="form-control">
                <option v-for="item in icons">{{ item }}</option>
              </select>
            </filter>
            <filter title="操作员">
              <input type="text" class="form-control" id="exampleInputName2" placeholder="Jane Doe">
            </filter>
            <filter title="截止日期" width="8em">
              <div class="input-daterange input-group">
                <input type='text' name="start-date" class="form-control" data-format="YYYY-MM-DD"
                       data-picker="datetimepicker" />
                <div class="input-group-addon">至</div>
                <input type='text' name="end-date" class="form-control" data-format="YYYY-MM-DD"
                       data-picker="datetimepicker" />
              </div>
            </filter>
            <filter title="检索">
              <div class="input-group search-form">
                <input type='text' class="form-control" />
                <span class="input-group-btn">
                        <button class="btn btn-secondary" type="button"><i
                            class="material-icons md-18">search</i></button>
                      </span>
              </div>
            </filter>
          </div>
          <form>
            <div class="table-toolbar-left">
              <button class="btn btn-primary"><i class="material-icons">exposure_plus_1</i> 添加</button>
            </div>
            <lf-table width="100%">
              <table class="table table-striped table-bordered" width="100%">
                  <thead>
                      <tr>
                          <th>用户名</th>
                          <th class="hidden-md-down">位置</th>
                          <th class="left">地址</th>
                          <th>Extn.</th>
                          <th width="120">开始日期</th>
                          <th class="right">费用</th>
                      </tr>
                  </thead>
                  <tbody>
                      <tr>
                          <td>Tiger Nixon</td>
                          <td class="hidden-md-down">System Architect</td>
                          <td class="left">Edinburgh</td>
                          <td>61</td>
                          <td>2011-04-25</td>
                          <td class="right">$320,800</td>
                      </tr>
                      <tr>
                          <td>张三李四</td>
                          <td class="hidden-md-down">长沙市芙蓉区</td>
                          <td class="left">长沙市芙蓉区湖南宾馆宿舍2栋205</td>
                          <td>63</td>
                          <td>2011-07-25</td>
                          <td class="right">$170,750</td>
                      </tr>
                      <tr>
                          <td>Ashton Cox</td>
                          <td class="hidden-md-down">Junior Technical Author</td>
                          <td class="left">San Francisco</td>
                          <td>66</td>
                          <td>2009-01-12</td>
                          <td class="right">$86,000</td>
                      </tr>
                      <tr>
                          <td>Cedric Kelly</td>
                          <td class="hidden-md-down">Senior Javascript Developer</td>
                          <td class="left">Edinburgh</td>
                          <td>22</td>
                          <td>2012-03-29</td>
                          <td class="right">$433,060</td>
                      </tr>
                      <tr>
                          <td>Airi Satou</td>
                          <td class="hidden-md-down">Accountant</td>
                          <td class="left">Tokyo</td>
                          <td>33</td>
                          <td>2008-11-28</td>
                          <td class="right">$162,700</td>
                      </tr>
                      <tr>
                          <td>Brielle Williamson</td>
                          <td class="hidden-md-down">Integration Specialist</td>
                          <td class="left">New York</td>
                          <td>61</td>
                          <td>2012-12-02</td>
                          <td class="right">$372,000</td>
                      </tr>
                      <tr>
                          <td>Herrod Chandler</td>
                          <td class="hidden-md-down">Sales Assistant</td>
                          <td class="left">San Francisco</td>
                          <td>59</td>
                          <td>2012-08-06</td>
                          <td class="right">$137,500</td>
                      </tr>
                      <tr>
                          <td>Rhona Davidson</td>
                          <td class="hidden-md-down">Integration Specialist</td>
                          <td class="left">Tokyo</td>
                          <td>55</td>
                          <td>2010-10-14</td>
                          <td class="right">$327,900</td>
                      </tr>
                      <tr>
                          <td>Colleen Hurst</td>
                          <td class="hidden-md-down">Javascript Developer</td>
                          <td class="left">San Francisco</td>
                          <td>39</td>
                          <td>2009-09-15</td>
                          <td class="right">$205,500</td>
                      </tr>
                      <tr>
                          <td>Sonya Frost</td>
                          <td class="hidden-md-down">Software Engineer</td>
                          <td class="left">Edinburgh</td>
                          <td>23</td>
                          <td>2008-12-13</td>
                          <td class="right">$103,600</td>
                      </tr>
                      <tr>
                          <td>Jena Gaines</td>
                          <td class="hidden-md-down">Office Manager</td>
                          <td class="left">London</td>
                          <td>30</td>
                          <td>2008-12-19</td>
                          <td class="right">$90,560</td>
                      </tr>
                      <tr>
                          <td>Quinn Flynn</td>
                          <td class="hidden-md-down">Support Lead</td>
                          <td class="left">Edinburgh</td>
                          <td>22</td>
                          <td>2013-03-03</td>
                          <td class="right">$342,000</td>
                      </tr>
                      <tr>
                          <td>Charde Marshall</td>
                          <td class="hidden-md-down">Regional Director</td>
                          <td class="left">San Francisco</td>
                          <td>36</td>
                          <td>2008-10-16</td>
                          <td class="right">$470,600</td>
                      </tr>
                  </tbody>
              </table>
            </lf-table>
            <div class="table-control">
              <select class="form-control">
                <option value="">请选择 ...</option>
                <option value="1">批量审核</option>
                <option value="2">批量删除</option>
              </select>
              <button class="btn btn-primary">全部结算</button>
              <span class="text-muted">注：请注意</span>
            </div>
            <div class="data-stat"><span>汇总金额：<var>￥1000.00</var></span><span>总人数：<var>300</var></span></div>
          </form>
          <form id="form1" class="form-table"
                data-validator-option="{theme:'bootstrap', timely:2, stopOnError:true}"
                enctype="multipart/form-data">
            <label class="form-group-inline">
              <div class="col-form-label">用户名</div>
              <div class="col-form-control">
                <input type="text" class="form-control" name="username"
                       data-rule="required;username;"
                       data-rule-username="[/[\w\d]{4,30}/, 'Please enter 3-12 digits, letters, underscores']"
                       data-tip="请使用字母、数字或下划线"
                >
              </div>
            </label>
            <label class="form-group-inline">
              <div class="col-form-label">密码</div>
              <div class="col-form-control">
                <input type="password" class="form-control" name="pwd"
                       data-rule="Password: required; length(8~16)"
                       data-tip="请输入至少8位密码"
                >
              </div>
            </label>
            <label class="form-group-inline">
              <div class="col-form-label">确认密码</div>
              <div class="col-form-control">
                <input type="password" class="form-control" name="pwdAgain"
                       data-rule="Verify Password: required; match(pwd)">
              </div>
            </label>
            <label class="form-group-inline">
              <div class="col-form-label">性别</div>
              <div class="col-form-control">
                <select class="form-control" name="gender" data-rule="required">
                  <option value="">请选择 ...</option>
                  <option value="1">男</option>
                  <option value="2">女</option>
                  <option value="3">其他</option>
                </select>
              </div>
            </label>
            <label class="form-group-inline">
              <div class="col-form-label">邮箱</div>
              <div class="col-form-control">
                <input type="text" class="form-control" name="email" data-rule="required;email">
              </div>
            </label>
            <label class="form-group-inline">
              <div class="col-form-label">封面</div>
              <div class="col-form-control">
                <input type="file" id="file" class="form-control" data-rule="required;">
              </div>
            </label>
            <div class="form-group-inline">
              <div class="col-form-label">爱好</div>
              <div class="col-form-control">
                <label class="form-check-inline"><input class="form-check-input" type="checkbox" name="interest"
                                                        data-rule="checked"> 运动</label>
                <label class="form-check-inline"><input class="form-check-input" type="checkbox" name="interest">
                  电影</label>
                <label class="form-check-inline"><input class="form-check-input" type="checkbox" name="interest">
                  游戏</label>
              </div>
            </div>
            <label class="form-group-inline">
              <div class="col-form-label top">备注</div>
              <div class="col-form-control">
                <textarea class="form-control" rows="5" name="memo" data-rule="required;"></textarea>
              </div>
            </label>
            <label class="form-group-inline">
              <div class="col-form-label top">内容</div>
              <div class="col-form-control">
                <ueditor id="ueditor1" name="content"></ueditor>
              </div>
            </label>
            <div class="form-group-inline">
              <div class="col-form-label"></div>
              <div class="col-form-control">
                <label class="checkbox-inline"><input type="checkbox" id="agree_arguments" data-rule="checked">
                  我同意用户服务协议.</label>
              </div>
            </div>
            <div class="form-group-inline">
              <div class="col-form-label"></div>
              <div class="col-form-control">
                <button type="submit" class="btn btn-primary">提交</button>
                <button type="reset" class="btn btn-secondary">重置</button>
              </div>
            </div>
          </form>
        </div>
        <div class="tab-pane fade" id="extend">
          extend
        </div>
        <div class="tab-pane fade" id="dropdown1">
          <p>时间是一切财富中最宝贵的财富。 —— 德奥弗拉斯多</p>
        </div>
        <div class="tab-pane fade" id="dropdown2">
          <p>世界上一成不变的东西，只有“任何事物都是在不断变化的”这条真理。 —— 斯里兰卡</p>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-2 pull-md-10 sidebar">
      <div class="menu">
        <div role="tablist">
          <div class="panel panel-default">
            <div class="panel-heading" role="tab">
              <div>
                <a href="#"><i class="material-icons md-18">face</i> 待审核</a>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingOne">
              <div class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true"
                   aria-controls="collapseOne"><i class="material-icons md-18">face</i> 微工会</a>
              </div>
            </div>
            <ul id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
              <li><a class="active" href="#">工会官网</a></li>
              <li><a href="#">政策法规</a></li>
              <li><a href="#">工会动态</a></li>
              <li><a href="#">工会矩阵</a></li>
            </ul>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingTwo">
              <div class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo"
                   aria-expanded="false" aria-controls="collapseTwo"><i class="material-icons md-18">face</i>
                  职工权益</a>
              </div>
            </div>
            <ul id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
              <li><a href="#">春资讯</a></li>
              <li><a href="#">夏资讯</a></li>
              <li><a href="#">秋资讯</a></li>
              <li><a href="#">冬资讯</a></li>
              <li><a href="#">工会主席信箱</a></li>
            </ul>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading" role="tab">
              <div>
                <a href="#"><i class="material-icons md-18">face</i> 微活动</a>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingThree">
              <div class="panel-title">
                <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree"
                   aria-expanded="false" aria-controls="collapseThree"><i class="material-icons md-18">face</i>
                  积分系统</a>
              </div>
            </div>
            <ul id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
              <li><a href="#">商品列表</a></li>
              <li><a href="#">兑换订单</a></li>
              <li><a href="#">积分规则</a></li>
              <li><a href="#">签到记录</a></li>
            </ul>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading" role="tab">
              <div>
                <a href="#"><i class="material-icons md-18">face</i> 用户列表</a>
              </div>
            </div>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingFour">
              <div class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="true"
                   aria-controls="collapseFour"><i class="material-icons md-18">face</i> 管理员</a>
              </div>
            </div>
            <ul id="collapseFour" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingFour">
              <li><a href="#">账号管理</a></li>
              <li><a href="#">角色管理</a></li>
              <li><a href="#">后台操作日志</a></li>
            </ul>
          </div>
          <div class="panel panel-default">
            <div class="panel-heading" role="tab" id="headingFive">
              <div class="panel-title">
                <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="true"
                   aria-controls="collapseFive"><i class="material-icons md-18">face</i> 系统设置</a>
              </div>
            </div>
            <ul id="collapseFive" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingFive">
              <li><a href="#">系统参数配置</a></li>
              <li><a href="#">节点管理</a></li>
              <li><a href="#">分类管理</a></li>
              <li><a href="#">模型管理</a></li>
              <li><a href="#">重新编译</a></li>
              <li><a href="#">清除缓存</a></li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<dialog :id="modal.id" :title="modal.title" :desc="modal.desc" :foot="modal.foot" :type="modal.type"
        @confirm-event="modal.event"></dialog>
<script src="../dist/js/libs/jquery/jquery.min.js"></script>
<script src="../dist/js/libs/tether/tether.min.js"></script>
<script src="../dist/js/libs/bootstrap/bootstrap.min.js"></script>
<script src="../dist/js/libs/moment/moment-with-locales.min.js"></script>
<script src="../dist/js/libs/validator/jquery.validator.min.js?local=zh-CN"></script>
<script src="../dist/js/libs/ueditor/ueditor.config.js"></script>
<script src="../dist/js/libs/ueditor/ueditor.all.min.js"></script>
<script type="text/javascript" src="../dist/js/lfui.js"></script>
<script type="text/javascript">

  // var t = $('#table').DataTable({
  //   autoWidth: true,  // 自动列宽
  //   info: false,  // 控制是否显示表格的信息
  //   lengthChange: false,  // 是否允许最终用户改变表格每页显示的记录数
  //   ordering: false, // 是否允许DataTables排序
  //   paging: false,  // 是否开启分页
  //   processing: false, // 是否显示正在处理的状态。
  //   searching: true, // 是否开启本地搜索
  //   fixedHeader: true,  // 表头固定
  //   serverSide: false, // 是否开启服务器模式
  //   ajax: null, // 请求接口url，会附带page、filter、order参数
  //   thousands: "", // 千位的分隔符
  //   stateSave: false,  // 是否保存状态
  //   stateSaveCallback: function(settings, data) {
  //       localStorage.setItem( 'DataTables_' + settings.sInstance, JSON.stringify(data) )
  //   },
  //   stateLoadCallback: function(settings) {
  //     return JSON.parse( localStorage.getItem( 'DataTables_' + settings.sInstance ) )
  //   },
  //   responsive: true,
  //   renderer: "bootstrap",
  //   dom: '<"newtoolbar">Bt'
  // });
  // $('#demo-custom-toolbar2').replaceAll(".newtoolbar");
  /* global vm */
  $.validator.setTheme('bootstrap', {
    validClass: 'has-success',
    invalidClass: 'has-danger',
    bindClassTo: '.form-group-inline',
    formClass: 'n-default n-bootstrap',
    msgClass: 'n-right'
  });
  var data = {
    loading: true,
    modal: {
      id: '',
      title: '',
      desc: '',
      type: '',
      foot: true,
      event: Function,
    },
    icons: ['account_circle', 'alarm', 'android', 'announcement', 'assessment', 'assignment', 'autorenew', 'bookmark', 'build', 'credit_card', 'date_range', 'done', 'explore', 'favorite', 'face', 'grade', 'group_work', 'home', 'info', 'invert_colors', 'label', 'language', 'lock', 'opacity', 'payment', 'schedule', 'search'],
    breadcrumb: [
      {
        title: 'Home',
        link: '#',
      }, {
        title: '微工会',
        link: '#',
      }, {
        title: '工会官网',
      },
    ],
  };
  vm.$set('$data', data);
  vm.$mount('body');
</script>
</body>
</html>
