body {
  background: #e7e8eb;
}
a {
  color: currentColor;
}
#container {
  // min-width: 1221px;
}
#navbar {
  margin-bottom: 35px;
  background: #fff;
  border-bottom: 1px solid #d9dadc;
  border-top: 4px solid #44b549;

  .navbar-inner {
    width: 1221px;
    margin: 0 auto;

    h4 {
      margin-bottom: 0;
    }
  }
  .brand-block {
    padding: 0;
  }
  .user-block {
    align-self: center;
    padding-right: 10px;
  }
}

#main-container {
  max-width: 1221px;
  margin: 0 auto;
  overflow: hidden;
  background: #fff;
  margin-bottom: 35px;
  border: 1px solid #d9dadc;
}
.sidebar {
  padding: 0;
  font-size: 14px;
  border-right: 1px solid #e7e7eb;

  .panel-heading {
    position: relative;
    margin: 0;
    a {
      display: block;
      padding-left: 26px;
      height: 45px;
      line-height: 45px;

      .material-icons {
        vertical-align: text-bottom;
      }

      &:hover,
      &:focus {
        text-decoration: none;
        color: #333;
        background: #f8f8f8;
      }
    }

    .panel-title {
      a:hover, a:focus {
        color: #b2b2b2;
        background: none;
      }
    }
  }

  .panel-title {
    a {
      color: #b2b2b2;

      &:after {
        content: '';
        position: absolute;
        top: 18px;
        right: 10px;
        border-width: 10px 6px 0 6px;
        border-style: solid;
        border-color: #ccc transparent transparent;
        transition: all .3s ease-in-out;
      }
    }

    a.collapsed {
      &:after {
        transform: rotate(-90deg);
      }
    }
  }

  .panel-collapse {
    padding: 0;
    list-style: none;

    a {
      display: block;
      height: 40px;
      padding-left: 46px;
      line-height: 40px;
      zoom: 1;

      &:hover,
      &:focus,
      &.active {
        background-color: #f8f8f8;
        color: #333;
        text-decoration: none;
      }
    }
  }

  .panel {
    border-bottom: 1px solid #e7e7eb;
  }
}
.content {
  display: block;
  overflow: hidden;
  padding: 30px;
  vertical-align: top;
}

.filter-wrapper{
  padding: 0 0 15px;
  margin-top: 15px;
  margin-bottom: 20px;
  border-bottom: 1px solid #e2e2e2;
}
.nav-tabs{
 margin-top: 20px;
}
@media (min-width: 800px){
  .table-toolbar {
    .table-toolbar-right.search-form {
      width: 240px;
      .form-control{
        flex: 1,
      }
    }
  }
}
