<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <title>Dashboard</title>
  <meta name="description" content="">
  <meta name="keywords" content="">
  <link rel="stylesheet" type="text/css" href="../dist/lfui.css">
  <link rel="stylesheet" type="text/css" href="../src/css/example-build.css">
  <link rel="stylesheet" type="text/css" href="./layout-build.css">
  <script src="../dist/assets/libs/jquery/jquery.js"></script>
  <script src="../dist/assets/libs/tether/tether.js"></script>
  <script src="../dist/assets/libs/moment/moment-with-locales.js"></script>
  <script src="../dist/assets/libs/ueditor/ueditor.config.js"></script>
  <script src="../dist/assets/libs/ueditor/ueditor.all.js"></script>
  <script src="../dist/assets/libs/bootstrap/bootstrap.min.js"></script>
  <script src="../dist/assets/libs/bootstrap/bootstrap-datetimepicker.js"></script>
  <script src="../dist/assets/libs/validator/jquery.validator.js?local=zh-CN"></script>
</head>
</head>
<body>
  <loading type="grid" v-show="loading"></loading>
  <div id="container">
    <header id="navbar">
      <div class="row navbar-inner">
        <div class="col-xs-6 brand-block">
          <h4><a href="#"><img src="http://gonghui.tukeji.com/static/admin/images/logo.png"></a> · 管理后台</h4>
          <a href="javascript:;" class="cd_nav_trigger"><span></span></a>
        </div>
        <div class="col-xs-6 text-right user-block">
          你好，admin！
          <a href="/lfcms/profile/edit.html" class="item">修改资料</a>
          <a href="/lfcms/index/logout.html" class="confirm item" title="确认要退出吗？">退出</a>
        </div>
      </div>
    </header>
    <div class="row" id="main-container">
      <div class="col-xs-12 col-md-10 push-md-2 content">
        <section>
          <breadcrumb :lists="breadcrumb"></breadcrumb>
        </section>
        <section>
          <h1 class="page-header"></h1>
          <div class="filter-wrapper">
            <filter title="种类">
              <a v-for="item in icons" :href="'item' + $index" class="btn btn-outline-primary category-item" :class="{'active': $index == 5}">{{ item }}</a>
            </filter>
            <filter title="种类">
              <select class="form-control">
                <option v-for="item in icons">{{ item }}</option>
              </select>
            </filter>
            <filter title="操作员">
              <input type="text" class="form-control" id="exampleInputName2" placeholder="Jane Doe">
            </filter>
            <filter title="截止日期" width="8em">
              <div class="input-daterange input-group">
                <input type='text' name="start-date" class="form-control" data-format="YYYY-MM-DD" data-picker="datetimepicker" />
                <div class="input-group-addon">至</div>
                <input type='text' name="end-date" class="form-control" data-format="YYYY-MM-DD" data-picker="datetimepicker" />
              </div>
            </filter>
            <filter title="检索">
              <div class="input-group">
                <input type='text' class="form-control" />
                <span class="input-group-btn">
                  <button class="btn btn-secondary" type="button"><i class="material-icons md-18">search</i></button>
                </span>
              </div>
            </filter>
          </div>
        </section>
        <section>
          <h1 class="page-header"></h1>
          <lf-table :page="7" :total-page="15" :data="users" :titles="titles" :total-item="100" params-name="p" responsive></lf-table>
        </section>
        <section>
          <h1 class="page-header"></h1>
          <div>
            <form id="form1" class="form-table" data-validator-option="{theme:'bootstrap', timely:2, stopOnError:true}">
              <label class="form-group-inline">
                <div class="col-form-label">用户名</div>
                <div class="col-form-control">
                  <input type="text" class="form-control" name="username"
                  data-rule="required;username;"
                  data-rule-username="[/[\w\d]{4,30}/, 'Please enter 3-12 digits, letters, underscores']"
                  data-tip="请使用字母、数字或下划线"
                  >
                </div>
              </label>
              <label class="form-group-inline">
                <div class="col-form-label">密码</div>
                <div class="col-form-control">
                  <input type="password" class="form-control" name="pwd"
                  data-rule="Password: required; length(8~16)"
                  data-tip="请输入至少8位密码"
                  >
                </div>
              </label>
              <label class="form-group-inline">
                <div class="col-form-label">确认密码</div>
                <div class="col-form-control">
                  <input type="password" class="form-control" name="pwdAgain" data-rule="Verify Password: required; match(pwd)">
                </div>
              </label>
              <label class="form-group-inline">
                <div class="col-form-label">性别</div>
                <div class="col-form-control">
                  <select class="form-control" name="gender" data-rule="required">
                    <option value="">请选择 ...</option>
                    <option value="1">男</option>
                    <option value="2">女</option>
                    <option value="3">其他</option>
                  </select>
                </div>
              </label>
              <label class="form-group-inline">
                <div class="col-form-label">邮箱</div>
                <div class="col-form-control">
                  <input type="text" class="form-control" name="email" data-rule="required;email">
                </div>
              </label>
              <div class="form-group-inline">
                <div class="col-form-label">爱好</div>
                <div class="col-form-control">
                  <label class="form-check-inline"><input class="form-check-input" type="checkbox" name="interest" data-rule="checked"> 运动</label>
                  <label class="form-check-inline"><input class="form-check-input" type="checkbox" name="interest"> 电影</label>
                  <label class="form-check-inline"><input class="form-check-input" type="checkbox" name="interest"> 游戏</label>
                </div>
              </div>
              <label class="form-group-inline">
                <div class="col-form-label text-middle">备注</div>
                <div class="col-form-control">
                  <textarea class="form-control" rows="5" data-rule="required;"></textarea>
                </div>
              </label>
              <div class="form-group-inline">
                <div class="col-form-label"></div>
                <div class="col-form-control">
                  <label class="checkbox-inline"><input type="checkbox" id="agree_arguments" data-rule="checked"> 我同意用户服务协议.</label>
                </div>
              </div>
              <div class="form-group-inline">
                <div class="col-form-label"></div>
                <div class="col-form-control">
                  <button type="submit" class="btn btn-primary">提交</button>
                  <button type="reset" class="btn btn-default">重置</button>
                </div>
              </div>
            </form>
          </div>
        </section>
      </div>
      <div class="col-xs-12 col-md-2 pull-md-10 sidebar">
        <div class="menu">
          <div role="tablist">
            <div class="panel panel-default">
              <div class="panel-heading" role="tab">
                <h6>
                  <a href="#">待审核</a>
                </h6>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingOne">
                <h6 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">微工会</a>
                </h6>
              </div>
              <ul id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
                <li><a class="active" href="#"><i class="material-icons md-18">face</i> 工会官网</a></li>
                <li><a href="#"><i class="material-icons md-18">face</i> 政策法规</a></li>
                <li><a href="#"><i class="material-icons md-18">face</i> 工会动态</a></li>
                <li><a href="#"><i class="material-icons md-18">face</i> 工会矩阵</a></li>
              </ul>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingTwo">
                <h6 class="panel-title">
                  <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">职工权益</a>
                </h6>
              </div>
              <ul id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
                <li><a href="#"><i class="material-icons md-18">face</i> 春资讯</a></li>
                <li><a href="#"><i class="material-icons md-18">face</i> 夏资讯</a></li>
                <li><a href="#"><i class="material-icons md-18">face</i> 秋资讯</a></li>
                <li><a href="#"><i class="material-icons md-18">face</i> 冬资讯</a></li>
                <li><a href="#"><i class="material-icons md-18">face</i> 工会主席信箱</a></li>
              </ul>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading" role="tab">
                <h6>
                  <a href="#">微活动</a>
                </h6>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingThree">
                <h6 class="panel-title">
                  <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">积分系统</a>
                </h6>
              </div>
              <ul id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
                <li><a href="#"><i class="material-icons md-18">face</i> 商品列表</a></li>
                <li><a href="#"><i class="material-icons md-18">face</i> 兑换订单</a></li>
                <li><a href="#"><i class="material-icons md-18">face</i> 积分规则</a></li>
                <li><a href="#"><i class="material-icons md-18">face</i> 签到记录</a></li>
              </ul>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading" role="tab">
                <h6>
                  <a href="#">用户列表</a>
                </h6>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingFour">
                <h6 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="true" aria-controls="collapseFour">微工会</a>
                </h6>
              </div>
              <ul id="collapseFour" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingFour">
                <li><a href="#"><i class="material-icons md-18">face</i> 账号管理</a></li>
                <li><a href="#"><i class="material-icons md-18">face</i> 角色管理</a></li>
                <li><a href="#"><i class="material-icons md-18">face</i> 后台操作日志</a></li>
              </ul>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading" role="tab" id="headingFive">
                <h6 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapseFive" aria-expanded="true" aria-controls="collapseFive">系统设置</a>
                </h6>
              </div>
              <ul id="collapseFive" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingFive">
                <li><a href="#"><i class="material-icons md-18">face</i> 系统参数配置</a></li>
                <li><a href="#"><i class="material-icons md-18">face</i> 节点管理</a></li>
                <li><a href="#"><i class="material-icons md-18">face</i> 分类管理</a></li>
                <li><a href="#"><i class="material-icons md-18">face</i> 模型管理</a></li>
                <li><a href="#"><i class="material-icons md-18">face</i> 重新编译</a></li>
                <li><a href="#"><i class="material-icons md-18">face</i> 清除缓存</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <dialog :id="modal.id" :title="modal.title" :desc="modal.desc" :foot="modal.foot" :type="modal.type" @confirm-event="modal.event"></dialog>
  <script type="text/javascript" src="../dist/lfui.js"></script>
  <script type="text/javascript">
    $(function(){
      $.validator.setTheme('bootstrap', {
        validClass: 'has-success',
        invalidClass: 'has-danger',
        bindClassTo: '.form-group-inline',
        formClass: 'n-default n-bootstrap',
        msgClass: 'n-right'
      });
      var data = {
        loading: true,
        modal: {
          id: '',
          title: '',
          desc: '',
          type: '',
          foot: true,
          event: Function,
        },
        btns: [
          {
            type: 'primary',
            title: '主色',
          }, {
            type: 'secondary',
            title: '普通',
          }, {
            type: 'success',
            title: '成功',
          }, {
            type: 'info',
            title: '信息',
          }, {
            type: 'warning',
            title: '警告',
          }, {
            type: 'danger',
            title: '危险',
          }, {
            type: 'mint',
            title: '薄荷',
          }, {
            type: 'purple',
            title: '紫色',
          }, {
            type: 'pink',
            title: '粉色',
          }, {
            type: 'dark',
            title: '黑色',
          }, {
            type: 'link',
            title: '连接',
          },
        ],
        icons: ['account_circle', 'alarm', 'android', 'announcement', 'assessment', 'assignment', 'autorenew', 'bookmark', 'build', 'credit_card', 'date_range', 'done', 'explore', 'favorite', 'face', 'grade', 'group_work', 'home', 'info', 'invert_colors', 'label', 'language', 'lock', 'opacity', 'payment', 'schedule', 'search'],
        links: [
          {
            title: 'Baidu',
            link: 'https://baidu.com',
          }, {
            title: 'Google',
            link: 'https://google.com',
          },
        ],
        breadcrumb: [
          {
            title: 'Home',
            link: '#',
          }, {
            title: '微工会',
            link: '#',
          }, {
            title: '工会官网',
          },
        ],
        users: [
          {
            id: 1,
            username: 'tomo',
            nickname: '@tomoyuen',
            register_date: '2016-06-06',
            like: 1949,
            collect: 4560,
          },
          {
            id: 2,
            username: 'tomo',
            nickname: '@tomoyuen',
            register_date: '2016-06-06',
            like: 1949,
            collect: 4560,
          },
          {
            id: 3,
            username: 'tomo',
            nickname: '@tomoyuen',
            register_date: '2016-06-06',
            like: 1949,
            collect: 4560,
          },
          {
            id: 4,
            username: 'tomo',
            nickname: '@tomoyuen',
            register_date: '2016-06-06',
            like: 1949,
            collect: 4560,
          },
        ],
        titles: [
          {
            name: 'id',
            key: 'id',
            order: 1,
          }, {
            name: '昵称',
            key: 'nickname',
          }, {
            name: '用户名',
            key: 'username',
          }, {
            name: '注册日期',
            key: 'register_date',
            order: 1,
          }, {
            name: '点赞',
            key: 'like',
            order: -1,
          }, {
            name: '收藏',
            key: 'collect',
            order: 1,
          },
        ],
      };
      vm.$set('$data', data);
      vm.$nextTick(setTimeout(function() {
        vm.loading = false;
      }, 1000));
    });
  </script>
</body>
</html>
