body{
  font: 14px/1.4 "Helvetica Neue","Hiragino Sans GB","Microsoft YaHei","\9ED1\4F53",Arial,sans-serif;
  color: #333;
}
.dropdown.v-select {
  &.open {
    .open-indicator {
      bottom: 9px;
    }

    .dropdown-toggle {
      border-bottom: 1px solid transparent;
      border-top-color: #44b549;
      border-left-color: #44b549;
      border-right-color: #44b549;
    }
    .dropdown-menu {
      border-bottom-color: #44b549;
      border-left-color: #44b549;
      border-right-color: #44b549;
    }
  }

  .dropdown-toggle {
    border-radius: .15rem;
    -webkit-appearance: none;

    &:after {
      border: none;
    }

    .open-indicator {
      line-height: 1;
      bottom: 11px;
    }
  }
  .form-control {
    height: 34px;
  }
  .dropdown-menu {
    overflow-x: hidden;

    & > li > a {
      display: block;
      padding: 3px 20px;
      clear: both;
      font-weight: 400;
      line-height: 1.42857143;
      color: #333;
      white-space: nowrap;

      &:hover {
        text-decoration: none;
      }
    }
  }
  .selected-tag {
    border-radius: .15rem;
  }
}
.input-group-addon {
  width: auto;
}
.input-daterange .input-group-addon {
  width: auto;
  min-width: 16px;
  padding: 4px 5px;
  line-height: 1.42857143;
  text-shadow: 0 1px 0 #fff;
  border-width: 1px 0;
}
.bootstrap-datetimepicker-widget table td.day {
  height: 30px;
  line-height: 30px;
  width: 30px;
}
.form-group-row {
  display: table;

  * {
    display: table-cell;
  }
}
.form-table {
  display: table;
  width: 100%;

}
.form-control {
  width: auto;
  display: inline-block;
  background-color: #fafafa;
}
.form-control[type=text],
.form-control[type=password],
.form-control[type=email],
.form-control[type=tel]{
  min-width: 14em;
}
.form-group-inline {
  display: table-row;

  .col-form-label {
    display: table-cell;
    width: 7em;
    min-width: 7em;
    padding-right: 1em;
    text-align: right;
    box-sizing: content-box;
    vertical-align: middle;
    &.top{
      padding-top: 0.8em;
      vertical-align: top;
    }
  }
  .col-form-control {
    /* display: table-cell; */
    padding: 5px 0;

    .msg-box{
      margin-top: 2px;
      .msg-wrap{
        vertical-align: middle;
      }
    }
    textarea + .msg-box{
      display: block;
      .msg-wrap{
        margin-left: 0;
        position: relative;
      }
    }
    input, select {
      & + .msg-box {
        margin-top: 10px;
      }
    }
    .form-control {
      padding: .75rem;
      display: inline-block;
    }
    .input-group-addon {
      line-height: 1.8;
    }
    .input-group-btn {
      .btn {
        height: 100%;
      }
    }
    .form-text.text-muted {
      display: inline-block;
    }
    textarea {
      width: 100%;
      min-height: 70px;
    }
  }
}
.tab-content{
  padding:15px 0;
}
.filter-wrapper {
  display: table;
  width: 100%;
}
.form-group-inline .text-middle {
  vertical-align: top;
  padding-top: 10px;
}

.vertical-line {
  border-left: 1px solid rgba(0, 0, 0, 0.1);
}
.gap-line {
  width: 0;
  margin: 0 .8rem;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
}
.tag{
  font-weight: 300;
}
.table-control{
  * {
    vertical-align: middle;
  }
  select.form-control{
    margin-right: 5px;
  }
  .btn{
    margin-right: 5px;
  }
}
.data-stat {
  margin: 10px 0;
  padding: 8px 10px;
  text-align: right;
  font-size: 14px;
  border: 1px solid #e2e2e2;
  span {
    color: #888;
    margin-left: 10px;
    var {
      color: #000;
      font-weight: bold;
      font-style: normal;
      font-size: 14px;
    }
  }
}
.form-check-input{
  margin-top: 0;
}
.table-toolbar:after{
  clear: both;
  overflow: hidden;
  height: 0;
  font-size: 0;
}
.table-toolbar-left,
.table-toolbar-right{
  text-align: center;
  padding-bottom: 10px;
}
.table-toolbar {
  .table-toolbar-right.search-form {
    width: 240px;
  }
}
@media (min-width: 760px){
  .table-toolbar-left{
      float: left;
      text-align: left;
  } 
  .table-toolbar-right{
    float: right;
  }
  .input-group .form-control{
    flex:none;
  }
}
.filter-box {
  display: table-row;

  &>.label {
    display: table-cell;
    min-width: 6em;
    padding-right: 2em;
    padding-top: 6px;
    text-align: right;
    box-sizing: content-box;
  }
  .inner {
    display: table-cell;
    a {
      margin: 4px 8px 6px 0;
      padding: 4px 6px;
      line-height: 1;
      border-radius: 0;
      color: #44b549;
      background-image: none;
      background-color: transparent;
      border-color: #44b549;
      
      &:hover{
        color: #fff;
        background-color: #44b549;
        border-color: #44b549;
      }
      &.active {
        background-color: #44b549;
        color: #fff;
      }
    }
    .input-daterange,
    .search-form {
      max-width: 30em;
    }
    &>.label {
      margin-bottom: 4px;
      padding: .5em .8em;
      cursor: pointer;
    }
    .form-control {
      padding: .75rem;
    }
    .input-group-addon {
      line-height: 1.8;
    }
    .input-group-btn {
      .btn {
        height: 100%;
      }
    }
  }
}

.filter-box + .filter-box .inner {
  padding-top: 10px;
}
.modal-loading {
  background-color: rgba(0, 0, 0, .5);
  display: block;
  text-align: center;

  .modal-dialog {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 300px;
    transform: translate(-50%, -50%);
  }

  .modal-content {
    padding: 20px 0;

    .v-spinner {
      margin: 0 auto 10px;
    }
  }
}

  .row .flex-item-auto {
    flex: 0 1 auto;
    flex-wrap: wrap;
  }
  .tips-inner {
    display: flex;
  }
  .tips-inner .tips-icon {
    margin-right: 12px;
  }