.dropdown.v-select {
  &.open {
    .open-indicator {
      bottom: 9px;
    }

    .dropdown-toggle {
      border-bottom: 1px solid transparent;
    }
  }

  .dropdown-toggle {
    border-radius: .15rem;
    -webkit-appearance: none;

    &:after {
      border: none;
    }

    .open-indicator {
      line-height: 1;
      bottom: 11px;
    }
  }
  .form-control {
    height: 34px;
  }
  .dropdown-menu {
    overflow-x: hidden;

    & > li > a {
      display: block;
      padding: 3px 20px;
      clear: both;
      font-weight: 400;
      line-height: 1.42857143;
      color: #333;
      white-space: nowrap;

      &:hover {
        text-decoration: none;
      }
    }
  }
  .selected-tag {
    border-radius: .15rem;
  }
}
.input-group-addon {
  width: auto;
}
.input-daterange .input-group-addon {
  width: auto;
  min-width: 16px;
  padding: 4px 5px;
  line-height: 1.42857143;
  text-shadow: 0 1px 0 #fff;
  border-width: 1px 0;
}
.bootstrap-datetimepicker-widget table td.day {
  height: 30px;
  line-height: 30px;
  width: 30px;
}
.form-group-row {
  display: table;

  * {
    display: table-cell;
  }
}
.form-table {
  display: table;
  width: 812px;
}
.form-group-inline {
  display: table-row;

  .col-form-label {
    display: table-cell;
    width: 6em;
    min-width: 6em;
    padding-right: 2em;
    text-align: right;
    box-sizing: content-box;
    vertical-align: middle;
  }
  .col-form-control {
    /* display: table-cell; */
    padding: 5px 0;

    input, select {
      max-width: 25rem;
      + .msg-box {
        margin-top: 10px;
      }
    }
    .form-control {
      padding: .75rem;
      display: inline-block;
    }
    .input-group-addon {
      line-height: 1.8;
    }
    .input-group-btn {
      .btn {
        height: 100%;
      }
    }
    .form-text.text-muted {
      display: inline-block;
    }
  }
}

.filter-wrapper {
  display: table;
}
.form-group-inline .text-middle {
  vertical-align: top;
  padding-top: 10px;
}

.vertical-line {
  border-left: 1px solid rgba(0, 0, 0, 0.1);
}
.gap-line {
  width: 0;
  margin: 0 .8rem;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
}
