<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <title>Examples</title>
  <meta name="description" content="">
  <meta name="keywords" content="">
  <script src="./js/libs/jquery/jquery.js"></script>
  <script src="./js/libs/tether/tether.js"></script>
  <script src="./js/libs/moment/moment-with-locales.js"></script>
  <script src="./js/libs/ueditor/ueditor.config.js"></script>
  <script src="./js/libs/ueditor/ueditor.all.js"></script>
  <script src="./js/libs/bootstrap/bootstrap.min.js"></script>
  <script src="./js/libs/bootstrap/bootstrap-datetimepicker.js"></script>
  <script src="./js/libs/validator/jquery.validator.js?local=zh-CN"></script>
  <style type="text/css">
    .list-group-item:hover{
      text-decoration: none;
      background-color: #44b549;
      color: #fff;
    }
  </style>
</head>
<body>
  <loading type="grid" v-show="loading"></loading>
  <div class="container" style="margin-bottom: 40px;">
    <div class="row">
      <div class="col-xs-12 col-md-3 push-md-9">
        <div class="list-group sidebar-right">
          <a href="#breadcrumb" class="list-group-item">面包屑 Breadcrumb</a>
          <a href="#buttons" class="list-group-item">按钮 Button</a>
          <a href="#button-group" class="list-group-item">按钮组 Button Group</a>
          <a href="#typography" class="list-group-item">排版 Typography</a>
          <a href="#tags" class="list-group-item">标签 Tag</a>
          <a href="#lists" class="list-group-item">列表 List</a>
          <a href="#navs" class="list-group-item">导航 Nav</a>
          <a href="#divider" class="list-group-item">分隔线 Divider</a>
          <a href="#flexbox" class="list-group-item">弹性盒模型 Flex</a>
          <a href="#dialogs" class="list-group-item">对话框 Dialog</a>
          <a href="#indicators" class="list-group-item">指示器 Indicator</a>
          <a href="#selector" class="list-group-item">选择器 Selector</a>
          <a href="#datetimepicker" class="list-group-item">时间选择器 DatetimePicker</a>
          <a href="#filter" class="list-group-item">筛选 Filter</a>
          <a href="#tables" class="list-group-item">表格 Table</a>
          <a href="#forms" class="list-group-item">表单 Form</a>
          <a href="#progress" class="list-group-item">进度条 Progress</a>
          <a href="#icons" class="list-group-item">图标 Icon</a>
        </div>
      </div>
      <div class="col-xs-12 col-md-9 pull-md-3">
        <section id="breadcrumb">
          <h1 class="page-header">面包屑导航 Breadcrumb</h1>
          <breadcrumb :lists="breadcrumb"></breadcrumb>
        </section>
        <section id="buttons">
          <h1 class="page-header">按钮 Buttons</h1>
          <h3>中文</h3>
          <btn v-for="item in btns" :type="item.type">{{ item.title }}</btn>
          <h3>English</h3>
          <btn v-for="item in btns" :type="item.type">{{ item.type }}</btn>
          <h3>禁用</h3>
          <btn v-for="item in btns" :type="item.type" disabled>{{ item.type }}</btn>
        </section>
        <section id="button-group">
          <h1 class="page-header">按钮组 Buttons Group</h1>
          <div class="row">
            <div class="col-md-7">
              <h3>Basic</h3>
              <btn-group type="group">
                <btn type="secondary">left</btn>
                <btn type="secondary">middle</btn>
                <btn type="secondary">right</btn>
              </btn-group>
              <h3>Button Toolbar</h3>
              <btn-group type="toolbar">
                <btn-group type="group">
                  <btn type="secondary">1</btn>
                  <btn type="secondary">2</btn>
                  <btn type="secondary">3</btn>
                  <btn type="secondary">4</btn>
                </btn-group>
                <btn-group type="group">
                  <btn type="secondary">4</btn>
                  <btn type="secondary">5</btn>
                </btn-group>
              </btn-group>
              <h3>Group vertical</h3>
              <btn-group type="group-vertical">
                <btn type="secondary">button</btn>
                <btn type="secondary">button</btn>
                <btn type="secondary">button</btn>
                <btn type="secondary">button</btn>
              </btn-group>
            </div>
            <div class="col-md-5">
              <h3>Dropdown</h3>
              <dropdown :lists="links" :type="'secondary'">Hello World</dropdown>
            </div>
          </div>
        </section>
        <section id="typography">
          <h1 class="page-header">排版 Typography</h1>
          <div class="row">
            <div class="col-lg-4">
              <h1>中文标题 1</h1>
              <h2>中文标题 2</h2>
              <h3>中文标题 3</h3>
              <h4>中文标题 4</h4>
              <h5>中文标题 5</h5>
              <h6>中文标题 6</h6>
              <p class="lead">每年的1月14日是日记情人节Diary Day在这一天情侣们会互赠足足记录一整年恋爱情事的恋爱日记本以此象征两人将携手走过未来一年并留下更多美好的回忆</p>
              <p>单身的人在新一年的开始对自己喜欢的人要有表白和对以后的计划写在自己的日记本里在心中撒下爱的种子</p>
            </div>
            <div class="col-lg-4">
              <h2>中文正文示例</h2>
              <p><mark>红豆杉</mark>属于浅根植物，其主根不明显、侧根发达，是世界上公认濒临灭绝的天然珍稀抗癌植物，<ins>是经过了第四纪冰川遗留下来的古老孑遗树种</ins>，在地球上<u>已有250万年的历史</u>。由于在自然条件下红豆杉生长速度缓慢，再生能力差，所以很长时间以来，世界范围内还没有形成大规摸的红豆杉原料林基地。1994年红豆杉被我国定为一级珍稀濒危保护植物，<del>同时被全世界42个有红豆杉的国家称为“国宝”</del>，联合国也明令禁止采伐，是名符其实的“植物大熊猫”。</p>
              <p><small>这行文字旨在示例小字号文字。</small></p>
              <p>下面的片段是加粗文字 <strong>呈现为粗体文本</strong>.</p>
              <p>下面的片段是斜体文字<em>呈现为斜体文本</em>.</p>
              <p>属性的缩写<abbr title="attribute">attr</abbr>.</p>
            </div>
            <div class="col-lg-4">
              <h2>状态文字</h2>
              <p class="text-muted">这里是普通静态的文字</p>
              <p class="text-primary">这里是主要的文字</p>
              <p class="text-warning">这里是警告提示的文字</p>
              <p class="text-danger">这里是危险提示文字</p>
              <p class="text-success">这里是成功提示文字</p>
              <p class="text-info">这里是信息类文字</p>
            </div>
          </div>
          <!-- Blockquotes -->
          <h2 id="type-blockquotes">引用 Blockquotes</h2>
          <div class="row">
            <div class="col-lg-6">
              <blockquote>
                <p>山长水远嫦娥怨，鸿雁相烦，鸿雁相烦，眉间心上玉簟寒。</p>
                <small><cite title="《采桑子-春叶》">《采桑子-春叶》</cite></small>
              </blockquote>
            </div>
            <div class="col-lg-6">
              <blockquote class="pull-right">
                <p>这次我离开你，是风，是雨，是夜晚；你笑了笑，我摆一摆手，一条寂寞的路便展向两头了。</p>
                <small><cite title="郑愁予《赋别》">郑愁予《赋别》</cite></small>
              </blockquote>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-6">
              <blockquote>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                <small>Someone famous in <cite title="Source Title">Source Title</cite></small>
              </blockquote>
            </div>
            <div class="col-lg-6">
              <blockquote class="pull-right">
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Integer posuere erat a ante.</p>
                <small>Someone famous in <cite title="Source Title">Source Title</cite></small>
              </blockquote>
            </div>
          </div>
        </section>
        <section id="tags">
          <h1 class="page-header">Tags</h1>
          <div style="margin-bottom: 40px;">
            <p>
              <span class="tag tag-default">Default</span>
              <span class="tag tag-primary">Primary</span>
              <span class="tag tag-success">Success</span>
              <span class="tag tag-info">Info</span>
              <span class="tag tag-warning">Warning</span>
              <span class="tag tag-danger">Danger</span>
            </p>
            <p>
              <span class="tag tag-default">默认</span>
              <span class="tag tag-primary">主要的</span>
              <span class="tag tag-success">成功</span>
              <span class="tag tag-warning">警告</span>
              <span class="tag tag-danger">危险</span>
              <span class="tag tag-info">信息</span>
            </p>
          </div>
          <h3>Pill Tags</h3>
          <div style="margin-bottom: 40px;">
            <p>
              <span class="tag tag-pill tag-default">Default</span>
              <span class="tag tag-pill tag-primary">Primary</span>
              <span class="tag tag-pill tag-success">Success</span>
              <span class="tag tag-pill tag-info">Info</span>
              <span class="tag tag-pill tag-warning">Warning</span>
              <span class="tag tag-pill tag-danger">Danger</span>
            </p>
            <p>
              <span class="tag tag-pill tag-default">默认</span>
              <span class="tag tag-pill tag-primary">主要的</span>
              <span class="tag tag-pill tag-success">成功</span>
              <span class="tag tag-pill tag-warning">警告</span>
              <span class="tag tag-pill tag-danger">危险</span>
              <span class="tag tag-pill tag-info">信息</span>
            </p>
          </div>
        </section>
        <section id="lists">
          <h1 class="page-header">列表 List</h1>
          <div class="row">
            <div class="col-xs-6">
              <h3>无序列表</h3>
              <ul>
                <li>Lorem ipsum dolor sit amet</li>
                <li>Consectetur adipiscing elit</li>
                <li>Integer molestie lorem at massa</li>
                <li>Facilisis in pretium nisl aliquet</li>
                <li>Nulla volutpat aliquam velit
                  <ul>
                    <li>Phasellus iaculis neque</li>
                    <li>Purus sodales ultricies</li>
                    <li>Vestibulum laoreet porttitor sem</li>
                    <li>Ac tristique libero volutpat at</li>
                  </ul>
                </li>
                <li>Faucibus porta lacus fringilla vel</li>
                <li>Aenean sit amet erat nunc</li>
                <li>Eget porttitor lorem</li>
              </ul>
            </div>
            <div class="col-xs-6">
              <h3>有序列表</h3>
              <ol>
                <li>Lorem ipsum dolor sit amet</li>
                <li>Consectetur adipiscing elit</li>
                <li>Integer molestie lorem at massa</li>
                <li>Facilisis in pretium nisl aliquet</li>
                <li>Nulla volutpat aliquam velit</li>
                <li>Faucibus porta lacus fringilla vel</li>
                <li>Aenean sit amet erat nunc</li>
                <li>Eget porttitor lorem</li>
              </ol>
              <h3>内联列表</h3>
              <ul class="list-inline">
                <li>Lorem ipsum</li>
                <li>Phasellus iaculis</li>
                <li>Nulla volutpat</li>
              </ul>
            </div>
          </div>
          <h3>List Group</h3>
          <div class="row" style="margin-bottom: 20px;">
            <div class="col-xs-4">
              <ul class="list-group">
                <li class="list-group-item">Cras justo odio</li>
                <li class="list-group-item">Dapibus ac facilisis in</li>
                <li class="list-group-item">Morbi leo risus</li>
                <li class="list-group-item">Porta ac consectetur ac</li>
                <li class="list-group-item">Vestibulum at eros</li>
              </ul>
            </div>
            <div class="col-xs-4">
              <ul class="list-group">
                <li class="list-group-item">
                  <span class="tag tag-default tag-pill pull-xs-right">14</span>
                  Cras justo odio
                </li>
                <li class="list-group-item">
                  <span class="tag tag-default tag-pill pull-xs-right">2</span>
                  Dapibus ac facilisis in
                </li>
                <li class="list-group-item">
                  <span class="tag tag-default tag-pill pull-xs-right">1</span>
                  Morbi leo risus
                </li>
              </ul>
            </div>
            <div class="col-xs-4">
              <div class="list-group">
                <a href="#" class="list-group-item disabled">
                  Cras justo odio
                </a>
                <a href="#" class="list-group-item">Dapibus ac facilisis in</a>
                <a href="#" class="list-group-item">Morbi leo risus</a>
                <a href="#" class="list-group-item">Porta ac consectetur ac</a>
                <a href="#" class="list-group-item">Vestibulum at eros</a>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-4">
              <div class="list-group">
                <a href="#" class="list-group-item active">
                  Cras justo odio
                </a>
                <a href="#" class="list-group-item list-group-item-action">Dapibus ac facilisis in</a>
                <a href="#" class="list-group-item list-group-item-action">Morbi leo risus</a>
                <a href="#" class="list-group-item list-group-item-action">Porta ac consectetur ac</a>
                <a href="#" class="list-group-item list-group-item-action disabled">Vestibulum at eros</a>
              </div>
            </div>
            <div class="col-xs-4">
              <div class="list-group">
                <a href="#" class="list-group-item list-group-item-action list-group-item-success">Dapibus ac facilisis in</a>
                <a href="#" class="list-group-item list-group-item-action list-group-item-info">Cras sit amet nibh libero</a>
                <a href="#" class="list-group-item list-group-item-action list-group-item-warning">Porta ac consectetur ac</a>
                <a href="#" class="list-group-item list-group-item-action list-group-item-danger">Vestibulum at eros</a>
              </div>
            </div>
            <div class="col-xs-4">
              <div class="list-group">
                <a href="#" class="list-group-item list-group-item-action active">
                  <h5 class="list-group-item-heading">List group item heading</h5>
                  <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                </a>
                <a href="#" class="list-group-item list-group-item-action">
                  <h5 class="list-group-item-heading">List group item heading</h5>
                  <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                </a>
                <a href="#" class="list-group-item list-group-item-action">
                  <h5 class="list-group-item-heading">List group item heading</h5>
                  <p class="list-group-item-text">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                </a>
              </div>
            </div>
          </div>
        </section>
        <section id="navs">
          <h1 class="page-header">导航 Navs</h1>
          <h3>Tabs</h3>
          <div>
            <ul class="nav nav-tabs">
              <li class="nav-item">
                <a class="nav-link active" data-toggle="tab" href="#">Active</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#home">首页</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" data-toggle="tab" href="#profile">账户</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">下拉菜单</a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" data-toggle="tab" href="#dropdown1">Action</a>
                  <a class="dropdown-item" data-toggle="tab" href="#dropdown2">Another action</a>
                </div>
              </li>
            </ul>
            <div class="tab-content">
              <div class="tab-pane fade active in" id="home">
                <p>土地是以它的肥沃和收获而被估价的；才能也是土地，不过它生产的不是粮食，而是真理。如果只能滋生瞑想和幻想的话，即使再大的才能也只是砂地或盐池，那上面连小草也长不出来的。 —— 别林斯基</p>
              </div>
              <div class="tab-pane fade" id="profile">
                <p>我需要三件东西：爱情友谊和图书。然而这三者之间何其相通！炽热的爱情可以充实图书的内容，图书又是人们最忠实的朋友。 —— 蒙田</p>
              </div>
              <div class="tab-pane fade" id="dropdown1">
                <p>时间是一切财富中最宝贵的财富。 —— 德奥弗拉斯多</p>
              </div>
              <div class="tab-pane fade" id="dropdown2">
                <p>世界上一成不变的东西，只有“任何事物都是在不断变化的”这条真理。 —— 斯里兰卡</p>
              </div>
            </div>
          </div>
          <h3>Pills</h3>
          <div>
            <ul class="nav nav-pills">
              <li class="nav-item">
                <a class="nav-link active" href="#">Active</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#home">首页</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#profile">账户</a>
              </li>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">下拉菜单</a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="#dropdown1">Action</a>
                  <a class="dropdown-item" href="#dropdown2">Another action</a>
                </div>
              </li>
            </ul>
          </div>
        </section>
        <section id="divider">
          <h1 class="page-header">分隔线</h1>
          <h3>水平线</h3>
          <hr>
          <div class="row">
            <div class="col-xs-6">
              <h3>竖线</h3>
              <div class="vertical-line" style="height: 40px;"></div>
            </div>
            <div class="col-xs-6">
              <h3>间隔线</h3>
              <p>文字来源  时间  <span class="gap-line"></span>  其它信息</p>
            </div>
          </div>
        </section>
        <section id="flexbox">
          <h1 class="page-header">Flexbox</h1>
          <h3>Responsive</h3>
          <p>Responsive modifiers能在XS，SM，MD＆LG视宽度指定不同的列宽，偏移，对齐和分布</p>
          <div class="row">
            <div class="col-xs-12 col-sm-3 col-md-2 col-lg-1">
              <div class="box-row"></div>
            </div>
            <div class="col-xs-6 col-sm-6 col-md-8 col-lg-10">
              <div class="box-row"></div>
            </div>
            <div class="col-xs-6 col-sm-3 col-md-2 col-lg-1">
              <div class="box-row"></div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-12 col-sm-3 col-md-2 col-lg-1">
              <div class="box-row"></div>
            </div>
            <div class="col-xs-12 col-sm-9 col-md-10 col-lg-11">
              <div class="box-row"></div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-10 col-sm-6 col-md-8 col-lg-10">
              <div class="box-row"></div>
            </div>
            <div class="col-xs-2 col-sm-6 col-md-4 col-lg-2">
              <div class="box-row"></div>
            </div>
          </div>
          <h3>Fluid</h3>
          <p>基于百分比宽度调整列和行的大小</p>
          <div class="row">
            <div class="col-xs-12">
              <div class="box-row"></div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-1">
              <div class="box-row"></div>
            </div>
            <div class="col-xs-11">
              <div class="box-row"></div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-2">
              <div class="box-row"></div>
            </div>
            <div class="col-xs-10">
              <div class="box-row"></div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-3">
              <div class="box-row"></div>
            </div>
            <div class="col-xs-9">
              <div class="box-row"></div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-4">
              <div class="box-row"></div>
            </div>
            <div class="col-xs-8">
              <div class="box-row"></div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-5">
              <div class="box-row"></div>
            </div>
            <div class="col-xs-7">
              <div class="box-row"></div>
            </div>
          </div>
          <div class="row">
            <div class="col-xs-6">
              <div class="box-row"></div>
            </div>
            <div class="col-xs-6">
              <div class="box-row"></div>
            </div>
          </div>
        </section>
        <section id="dialogs">
          <h1 class="page-header">模式对话框 Dialogs</h1>
          <div class="row">
            <div class="col-xs-6">
              <h3>提示 Tooltips</h3>
              <div>
                <button class="btn btn-secondary" data-toggle="tooltip" data-placement="top" title="会在上边显示">上</button>
                <button class="btn btn-secondary" data-toggle="tooltip" data-placement="right" title="会在右边显示">右</button>
                <button class="btn btn-secondary" data-toggle="tooltip" data-placement="bottom" title="会在下边显示">下</button>
                <button class="btn btn-secondary" data-toggle="tooltip" data-placement="left" title="会在左边显示">左</button>
              </div>
            </div>
            <div class="col-xs-6">
              <h3>弹出框 Popovers</h3>
              <div class="bs-popover-demo">
                <button type="button" class="btn btn-secondary" data-container="body" data-toggle="popover" data-placement="left" data-content="新的数学方法和概念，常常比解决数学问题本身更重要。" data-original-title="" title="">左</button>

                <button type="button" class="btn btn-secondary" data-container="body" data-toggle="popover" data-placement="top" data-content="人生并不像火车要通过每个站似的经过每一个生活阶段。人生总是直向前行走，从不留下什么。">上</button>

                <button type="button" class="btn btn-secondary" data-container="body" data-toggle="popover" data-placement="bottom" data-content="友谊是一棵可以庇荫的树。">下</button>

                <button type="button" class="btn btn-secondary" data-container="body" data-toggle="popover" data-placement="right" data-content="真理惟一可靠的标准就是永远自相符合">右</button>
              </div>
            </div>
          </div>
          <h3 style="margin-top: 30px;">弹窗 Alerts</h3>
          <div class="row">
            <div class="col-xs-3">
              <h3>myModal1</h3>
              <button class="btn btn-primary" @click="dialog('myModal1', myModal1)" data-toggle="modal" data-target="#myModal1">alert</button>
            </div>
            <div class="col-xs-3">
              <h3>myModal2</h3>
              <button class="btn btn-primary" @click="dialog('myModal2', myModal2)" data-toggle="modal" data-target="#myModal2">alert</button>
            </div>
          </div>
        </section>
        <section id="indicators">
          <h1 class="page-header">提示与警告 Indicators</h1>
          <h3>Tips</h3>
          <div class="row">
            <div class="col-xs-12">
              <tips type="warning" title="警告">
                <i class="material-icons md-48" slot="icon">face</i>
                <p>警告是一种警戒性的纪律制裁方式，也是最轻微的一种制裁方式，是指公务员的行为已经构成了违纪，应当予以及时纠正和警示。</p>
              </tips>
            </div>
            <div class="col-xs-4">
              <tips type="danger">
                <strong>出错了!</strong><a href="#" class="alert-link">请修改</a>并重试。
              </tips>
            </div>
            <div class="col-xs-4">
              <tips type="success">
                <strong>恭喜!</strong> 你已经阅读了 <a href="#" class="alert-link">本条重要的消息。</a>
              </tips>
            </div>
            <div class="col-xs-4">
              <tips type="info">
                <strong>注意!</strong> 此消息 <a href="#" class="alert-link">需要您留意</a>, 但不是那么重要。
              </tips>
            </div>
          </div>
        </section>
        <section id="selector">
          <h1 class="page-header">选择器 Selector</h1>
          <div class="row">
            <div class="col-xs-4"></div>
            <div class="col-xs-4">
              <v-select multiple :value.sync="interests.selected" :options="interests.options"></v-select>
            </div>
            <div class="col-xs-4"></div>
          </div>
        </section>
        <section id="datetimepicker">
          <h1 class="page-header">日期时间选择器 DatetimePicker</h1>
          <div class="row">
            <div class='col-xs-4'>
              <h3>日期选择器</h3>
              <datetimepicker name="start_date" format="YYYY-MM-DD">
                <i slot="icon" class="material-icons">date_range</i>
              </datetimepicker>
            </div>
            <div class="col-xs-4">
              <h3>时间选择器</h3>
              <datetimepicker name="start_time" format="HH:mm:ss">
                <i slot="icon" class="material-icons">schedule</i>
              </datetimepicker>
            </div>
            <div class="col-xs-4">
              <h3>日期时间选择器</h3>
              <datetimepicker name="start_datetime"></datetimepicker>
            </div>
          </div>
        </section>
        <section id="filter">
          <h1 class="page-header">筛选器 Filter</h1>
          <div class="filter-wrapper">
            <filter title="种类">
              <a v-for="item in icons" :href="'item' + $index" class="btn btn-outline-primary category-item">{{ item }}</a>
            </filter>
            <filter title="种类">
              <select class="form-control">
                <option v-for="item in icons">{{ item }}</option>
              </select>
            </filter>
            <filter title="操作员">
               <input type="text" class="form-control" id="exampleInputName2" placeholder="Jane Doe">
            </filter>
            <filter title="截止日期" width="8em">
              <div class="input-daterange input-group">
                <input type='text' name="start-date" class="form-control" data-format="YYYY-MM-DD" data-picker="datetimepicker" />
                <div class="input-group-addon">至</div>
                <input type='text' name="end-date" class="form-control" data-format="YYYY-MM-DD" data-picker="datetimepicker" />
              </div>
            </filter>
            <filter title="检索">
              <div class="input-group">
                <input type='text' class="form-control" />
                <span class="input-group-btn">
                  <button class="btn btn-secondary" type="button"><i class="material-icons md-18">search</i></button>
                </span>
              </div>
            </filter>
          </div>
        </section>
        <section id="tables">
          <h1 class="page-header">表格 Table</h1>
          <h3>普通表格</h3>
          <lf-table :page="1" :data="users" :titles="titles"></lf-table>
          <h3>响应式表格</h3>
          <form>
          <lf-table :page="7" :total-page="15" :data="users" :titles="titles" :total-item="100" params-name="p" responsive>
            <select class="form-control" style="display: inline; margin: 0 10px 10px 0;">
              <option value="">请选择 ...</option>
              <option value="1">批量审核</option>
              <option value="2">批量删除</option>
            </select>
            <btn>全部结算</btn>
            <span class="text-muted">注：请注意</span>
            </form>
            <div class="data-stat"><span>汇总金额：<var>￥1000.00</var></span><span>总人数：<var>300</var></span></div>
          </lf-table>
        </section>
        <section id="forms">
          <h1 class="page-header">表单 Form</h1>
          <h3 style="margin-top: 30px;">Inline Form</h3>
          <form class="form-table" action=".">
            <label class="form-group-inline">
              <div class="col-form-label">账号</div>
              <div class="col-form-control">
                <input class="form-control" type="text">
              </div>
            </label>
            <label class="form-group-inline">
              <div class="col-form-label">权限组</div>
              <div class="col-form-control">
                <select name="" id="" class="form-control">
                  <option selected>Open this select menu</option>
                  <option v-for="item in 5" value="$index">item{{$index}}</option>
                </select>
              </div>
            </label>
            <label class="form-group-inline">
              <div class="col-form-label">封面</div>
              <div class="col-form-control">
                <input type="file" id="file" class="form-control">
              </div>
            </label>
            <label class="form-group-inline">
              <div class="col-form-label">联系电话</div>
              <div class="col-form-control">
                <input type="tel" class="form-control">
              </div>
            </label>
            <div class="form-group-inline">
              <div class="col-form-label">性别</div>
              <div class="col-form-control">
                <label class="form-check-inline"><input class="form-check-input" type="radio" name="gender" value="male"> 男</label>
                <label class="form-check-inline"><input class="form-check-input" type="radio" name="gender" value="female"> 女</label>
              </div>
            </div>
            <label class="form-group-inline">
              <div class="col-form-label top">简介</div>
              <div class="col-form-control">
                <textarea class="form-control" name="summary"></textarea>
              </div>
            </label>
            <label class="form-group-inline">
              <div class="col-form-label top">内容</div>
              <div class="col-form-control">
                <ueditor id="ueditor1" name="content"></ueditor>
              </div>
            </label>
            <div class="form-group-inline">
              <div class="col-form-label"></div>
              <div class="col-form-control">
                <button class="btn btn-primary" type="submit">提交</button>
              </div>
            </div>
          </form>
          <h3 style="margin-top: 30px;">Validator Form</h3>
          <div>
            <form id="form1" class="form-table" data-validator-option="{theme:'bootstrap', timely:2, stopOnError:true}" enctype="multipart/form-data">
              <label class="form-group-inline">
                <div class="col-form-label">用户名</div>
                <div class="col-form-control">
                  <input type="text" class="form-control" name="username"
                  data-rule="required;username;"
                  data-rule-username="[/[\w\d]{4,30}/, 'Please enter 3-12 digits, letters, underscores']"
                  data-tip="请使用字母、数字或下划线"
                  >
               </div>
              </label>
              <label class="form-group-inline">
                <div class="col-form-label">密码</div>
                <div class="col-form-control">
                  <input type="password" class="form-control" name="pwd"
                  data-rule="Password: required; length(8~16)"
                  data-tip="请输入至少8位密码"
                  >
               </div>
              </label>
              <label class="form-group-inline">
                <div class="col-form-label">确认密码</div>
                <div class="col-form-control">
                  <input type="password" class="form-control" name="pwdAgain" data-rule="Verify Password: required; match(pwd)">
               </div>
              </label>
              <label class="form-group-inline">
                <div class="col-form-label">性别</div>
                <div class="col-form-control">
                  <select class="form-control" name="gender" data-rule="required">
                    <option value="">请选择 ...</option>
                    <option value="1">男</option>
                    <option value="2">女</option>
                    <option value="3">其他</option>
                  </select>
               </div>
              </label>
              <label class="form-group-inline">
                <div class="col-form-label">邮箱</div>
                <div class="col-form-control">
                  <input type="text" class="form-control" name="email" data-rule="required;email">
                </div>
              </label>
              <label class="form-group-inline">
                <div class="col-form-label">封面</div>
                <div class="col-form-control">
                  <input type="file" id="file" class="form-control"  data-rule="required;">
                </div>
              </label>
              <div class="form-group-inline">
                <div class="col-form-label">爱好</div>
                <div class="col-form-control">
                  <label class="form-check-inline"><input class="form-check-input" type="checkbox" name="interest" data-rule="checked"> 运动</label>
                  <label class="form-check-inline"><input class="form-check-input" type="checkbox" name="interest"> 电影</label>
                  <label class="form-check-inline"><input class="form-check-input" type="checkbox" name="interest"> 游戏</label>
                </div>
              </div>
              <label class="form-group-inline">
                <div class="col-form-label top">备注</div>
                <div class="col-form-control">
                  <textarea class="form-control" rows="5" name="memo" data-rule="required;"></textarea>
                </div>
              </label>
              <div class="form-group-inline">
                <div class="col-form-label"></div>
                <div class="col-form-control">
                  <label class="checkbox-inline"><input type="checkbox" id="agree_arguments" data-rule="checked"> 我同意用户服务协议.</label>
                </div>
              </div>
              <div class="form-group-inline">
                <div class="col-form-label"></div>
                <div class="col-form-control">
                  <button type="submit" class="btn btn-primary">提交</button>
                  <button type="reset" class="btn btn-secondary">重置</button>
                </div>
              </div>
            </form>
          </div>
        </section>
        <section id="progress">
          <h1 class="page-header">进度条</h1>
          <h3>基本</h3>
          <div>
            <progress class="progress" value="0" max="100">0%</progress>
            <progress class="progress" value="25" max="100">25%</progress>
            <progress class="progress" value="50" max="100">50%</progress>
            <progress class="progress" value="75" max="100">75%</progress>
            <progress class="progress" value="100" max="100">100%</progress>
          </div>
          <h3>不同的进度与颜色</h3>
          <div>
            <progress class="progress progress-success" value="25" max="100">25%</progress>
            <progress class="progress progress-info" value="50" max="100">50%</progress>
            <progress class="progress progress-warning" value="75" max="100">75%</progress>
            <progress class="progress progress-danger" value="100" max="100">100%</progress>
          </div>
          <h3>带条纹的</h3>
          <div>
            <progress class="progress progress-striped" value="10" max="100">10%</progress>
            <progress class="progress progress-striped progress-success" value="25" max="100">25%</progress>
            <progress class="progress progress-striped progress-info" value="50" max="100">50%</progress>
            <progress class="progress progress-striped progress-warning" value="75" max="100">75%</progress>
            <progress class="progress progress-striped progress-danger" value="100" max="100">100%</progress>
          </div>
          <h3>动画</h3>
          <div>
            <progress class="progress progress-striped progress-animated active" role="progressbar" value="25" max="100">25%</progress>
          </div>
        </section>
        <section id="icons">
          <h1 class="page-header">图标 Icons</h1>
          <div class="icons-block">
            <span class="icon-box" v-for="item in icons"><i class="material-icons">{{ item }}</i><br/>{{ item }}</span>
          </div>
          <p>更多图标请查看 <a href="https://design.google.com/icons/">Material icons</a></p>
        </section>
      </div>
    </div>
  </div>
  <dialog :id="modal.id" :title="modal.title" :desc="modal.desc" :foot="modal.foot" :type="modal.type" @confirm-event="modal.event"></dialog>
  <script type="text/javascript">
    $(function(){
      $.validator.setTheme('bootstrap', {
        validClass: 'has-success',
        invalidClass: 'has-danger',
        bindClassTo: '.form-group-inline',
        formClass: 'n-default n-bootstrap',
        msgClass: 'n-right'
      });
    });
  </script>
</body>
</html>
