@function twbs-font-path($path) {
  @return font-path($path);
}

@function twbs-image-path($path) {
  @return image-path($path);
}
$line-height-base:			1.43 !default;
$icon-font-path:			"../fonts/" !default;
$icon-font-name:          	"glyphicons-halflings-regular" !default;
$icon-font-svg-id:        	"glyphicons_halflingsregular" !default;

$bootstrap-sass-asset-helper: false !default;

$brand-primary: 		#44b549 !default;
// $brand-primary:         #458fd2 !default;
$brand-success:         #8cc152 !default;
$brand-info:            #3bb5e8 !default;
$brand-warning:         #feab34 !default;
$brand-danger:          #e9573f !default;
$brand-mint:            #19b698 !default;
$brand-purple:          #9365b8 !default;
$brand-pink:            #eb72b6 !default;
$brand-dark:            #3b3e46 !default;

$input-border:			#e2e2e2 !default;
$input-bg:				#fafafa !default;
$input-border-focus: 	#44b549 !default;

$border-radius-base:        0px !default;
$border-radius-large:       0px !default;
$border-radius-small:       0px !default;

$breadcrumb-bg:				transparent !default;
$breadcrumb-padding-horizontal: 0 !default;

$btn-mint-color:               #fff !default;
$btn-mint-bg:                  $brand-mint !default;
$btn-mint-border:              darken($btn-mint-bg, 1%) !default;

$btn-purple-color:               #fff !default;
$btn-purple-bg:                  $brand-purple !default;
$btn-purple-border:              darken($btn-purple-bg, 1%) !default;

$btn-pink-color:               #fff !default;
$btn-pink-bg:                  $brand-pink !default;
$btn-pink-border:              darken($btn-pink-bg, 1%) !default;

$btn-dark-color:               #fff !default;
$btn-dark-bg:                  $brand-dark !default;
$btn-dark-border:              darken($btn-dark-bg, 1%) !default;